@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

$main-color: #d2e4c4;
// $main-color: #ecf5e6;
// $main-color: #f7fdf2;

// $main-color: #edf5e6;

$black: #101010;

.homepage {
  font-family: "Montserrat", sans-serif;

  nav {
    a {
      color: white;
    }
  }

  h1 {
    font-weight: 900;
  }

  h3,
  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }

  .section-a {
    display: flex;
    position: relative;
    min-height: 100vh;
  }

  a {
    font-family: "Inconsulata", "consolas", monospace;
    color: black;
  }
  a:hover {
    box-shadow: 0 2px 0 0 currentColor;
    font-weight: bold;
    text-decoration: none;
  }

  .image-container {
    position: relative;
    width: 40%;
    background-image: url("/me.jpg");
    // -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    // filter: grayscale(20%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    a {
      position: fixed;
      left: 1rem;
      top: 1rem;
    }

    img {
      margin: 0;
    }
  }

  .content-container {
    width: 60%;

    // background-color: $main-color;

    background-color: $black;

    display: flex;
    align-items: center;
    justify-content: center;

    nav {
      display: flex;
      justify-content: flex-end;
      padding: 1rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;

      a {
        margin: 0 1rem;
      }

      a:first-child {
        margin-right: auto;
      }
    }

    .greeting {
      text-align: center;
      vertical-align: middle;
      font-family: "Montserrat", sans-serif;
      padding: 1rem;
      color: white;

      &-myname {
        margin-bottom: 4rem;
      }

      .checkout {
        margin-top: 4rem;
        p {
          margin: 1rem;
        }
        text-align: left;
        a {
          color: white;
        }
      }

      #software {
        background-color: $black;
        color: white;
        font-family: "Inconsulata", "consolas", monospace;
        padding: 0.5rem;
        margin: 1rem 0.5rem;
        white-space: nowrap;
        display: inline-block;
      }

      .warning {
        max-width: 450px;
      }
      h1 {
        // border-bottom: solid 1px #b8d8d8;
        display: inline;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}

#cursor {
  color: #ecf5e6;
  line-height: 17px;
  animation: blink 1s infinite;
  height: 10px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.section-a {
  .scroll {
    position: absolute;
    bottom: 0;

    #down-chevron {
      g {
        fill: black;
      }
    }
  }
}
.section-b {
  // background-color: #b8d8d8;
  min-height: 100vh;
}

.section-c {
  background-color: #b8d8d8;
  min-height: 100vh;
}

.experience {
  text-align: center;
  padding-bottom: 2rem;

  h2 {
    margin: 2rem 0;
    text-decoration: underline solid $main-color;
  }

  .experience-bubble {
    background-color: $main-color;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 2rem;
    margin: 2rem;

    transition: 0.3s;

    h3 {
      font-family: "Inconsulata", "consolas", monospace;
      font-weight: 600;
      text-transform: uppercase;
    }

    .title {
      font-weight: 600;
    }

    ul {
      padding-left: 2rem;
      text-align: left;
      li {
        margin: 0;
      }
    }
  }

  .experience-bubble:hover {
    margin: 2rem 1rem;
    // padding: 2rem 3rem;
  }
}

.fun {
  text-align: center;
  padding-bottom: 3rem;
  h2 {
    padding: 2rem 0rem;
    text-decoration: underline solid currentColor;
  }

  .food-photo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 0.3s;

    img {
      width: 80%;
      transition: 0.3s;
      border-radius: 2px;
    }

    img:hover {
      width: 90%;
    }
  }

  // .food-photo:hover {
  //   margin: 1rem;
  // }
}

@media (max-width: 736px) {
  nav {
    a {
      color: black;
    }
  }
  .greeting {
    color: black !important;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    &-myname {
      margin-bottom: 2rem !important;
    }

    .checkout {
      a {
        color: black !important;
      }
    }
  }

  .image-container {
    width: 100% !important;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.473),
        rgba(255, 255, 255, 0.5)
      ),
      url("/me.jpg") !important;
  }

  .content-container {
    display: none;
    width: 0 !important;
  }

  .checkout {
    margin-top: 2rem !important;
  }

  .experience {
    .experience-bubble {
      padding: 1rem;
      margin: 2rem 1rem;
    }

    .experience-bubble:hover {
      margin: 2rem 0.5rem;
    }
  }
}
